@model List<ContractMonthlyClaimSystem.Models.LecturerModel>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
    <h2>Lecturer Submit Claim</h2>
    <br />

    <div class="form-element">
        <label for="lecturerName"> Lecturer Name</label>
        <input type="text" name="lecturerName" required />
        <br />
    </div>

    <div class="form-element">
        <label for="lecturerHourlyRate"> Hourly Rate</label>
        <input type="text" name="lecturerHourlyRate" required />
        <br />
    </div>

    <div class="form-element">
        <label for="lecturerAdditionalNotes"> Hours Worked</label>
        <input type="text" name="lecturerHoursWorked" required />
        <br />
    </div>

    <div class="form-element">
        <label for="lecturerAdditionalNotes"> Lecturer Additional Notes</label>
        <input type="text" name="lecturerAdditionalNotes" />
        <br />
    </div>

    <div class="form-element">
        <input type="file" name="file" />
        <br />
    </div>


    <input type="submit" id="btnSubmit" value="Upload" />

}
<head>

</head>

<body>
    <div>
        <br />

        <table class="table-custom">
            <tr>
                <th>Name</th>
                <th>Hourly Rate</th>
                <th>Hours Worked</th>
                <th>Additional Notes</th>
                <th>File Name</th>
                <th>File Upload Date</th>
                <th>Actions</th>
            </tr>
            @foreach(var claim in Model)
            {
                <tr>
                    <td>@claim.LecturerName</td>
                    <td>@claim.LecturerHourlyRate</td>
                    <td>@claim.LecturerHoursWorked</td>
                    <td>@claim.LecturerAdditionalNotes</td>
                    <td>@claim.LecturerUploadFileName</td>
                    <td>@claim.LecturerUploadDate</td>
                    <td>
                        <a href="@Url.Action("OpenFile", "Home", new {fileName = claim.LecturerUploadFileName})" target="_blank">Open</a>
                    </td>
                </tr>
            }
        </table>
        <br/>
        <br/>
        <br/>
        <div id="BacktoHomeBtnLayout">
            <!-- currently routing the login button to the reviewClaim from AdminViewClaims, login to be implemented later-->
            <a href="@Url.Action("LecturerMenu", "Home")" class="btnLecturer">Back-To-Home</a>
        </div>
    </div>
</body>

